In [59]:
import sys
sys.path.insert(0, '..')

import numpy as np
import pandas as pd

from helpers import *

In [60]:
df = pd.read_excel(path_data + "IOW - 3 - Cleaned Text.xlsx")
q = pd.read_excel(path_data + "Question_Index.xlsx")

,fulltext,renamed,question_type,source,example_1,example_2,example_3
0,Write as many associations as you can with the...,WORD_association,association,study,"confidence, belief, reliance, conviction",fund,Loyalty
1,Who did you think of while answering the previ...,WORD_person,nominal,study,No one in particular.,No one in particular.,Family
2,Unnamed: 2,WORD_person_other,other,study,NaN,NaN,NaN
3,Think of a BRAND you trust and write as many a...,BRAND_association,association,study,"make, label, trade-name, logo",NaN,Natural original genuine clean
4,Provide the name of the BRAND you thought of.,BRAND_name,freetext,study,Dyson,NaN,Yo-yo bear
5,Think of a person you TRUST and write as many ...,PERSON_association,association,study,"love, friend, loyal","obese, kind, loving, old, caring",Love loyalty fun happiness contentment peace
6,What is your relationship to the PERSON from t...,PERSON_relationship,nominal,study,Husband or boyfriend,Other family member,Husband or boyfriend
7,Unnamed: 7,PERSON_relationship_other,other,study,NaN,NaN,NaN
8,As we are interested in how trust manifests ac...,PERSON_gender,nominal,study,NaN,Female,NaN
9,Unnamed: 9,PERSON_gender_other,other,study,NaN,NaN,NaN
10,"Now, think about yourself, why should others t...",SELF_association,association,study,"loyal, listener, carer, solver, helper","honest, moral, good","Honest, selfless, kind"
11,"Finally, generally speaking, would you say tha...",QUESTION_trust,likert,study,3,5,4
12,Fluent languages,languages,nominal,service,English,English,English
13,Age,age,metric,service,60,45,37
14,Sex,sex,nominal,service,Female,Female,Female
15,Ethnicity simplified,ethnicity,nominal,service,White,White,Mixed
16,Country of birth,country_of_birth,nominal,service,United Kingdom,United Kingdom,United Kingdom
17,Country of residence,country_of_residence,nominal,service,United Kingdom,United Kingdom,United Kingdom
18,Nationality,nationality,nominal,service,United Kingdom,United Kingdom,United Kingdom
19,First language,first_language,nominal,service,English,English,English
20,Student status,is_student,nominal,service,No,No,DATA_EXPIRED
21,Employment status,employment,nominal,service,"Not in paid work (e.g. homemaker', 'retired or...",DATA_EXPIRED,DATA_EXPIRED

## 1 SERVICE Replace misssing data

In [62]:
(df[q[q.source == "service"].renamed.tolist()] == "DATA_EXPIRED").mean().apply("{:.2%}".format)

languages                0.00%
age                      0.00%
sex                      0.00%
ethnicity                0.00%
country_of_birth         0.00%
country_of_residence     0.00%
nationality              0.13%
first_language           0.07%
is_student              15.26%
employment              20.64%
dtype: object

In [63]:
df.loc[:, q[q.source == "service"].renamed.tolist()] = df.loc[:, q[q.source == "service"].renamed.tolist()].replace("DATA_EXPIRED", np.nan)

## 2 SPECIFIC Enrich PERSON_gender

In [81]:
def transfer_gender(row):

    if row.PERSON_relationship == "Wife or girlfriend":
        return "Female"

    elif row.PERSON_relationship == "Sister":
        return "Female"

    elif row.PERSON_relationship == "Husband or boyfriend":
        return "Male"

    elif row.PERSON_relationship == "Brother":
        return "Male"

    else:
        return row.PERSON_gender

df.PERSON_gender = df[["PERSON_relationship", "PERSON_gender"]].apply(transfer_gender, axis=1)

In [82]:
df.PERSON_gender.isna().sum()

0

## 3 Nominal Columns

In [100]:
nominal_columns = q[q.question_type == "nominal"].renamed.tolist()

pd.concat([
    df[column].value_counts().reset_index() for column in nominal_columns
],axis=1).fillna("-").to_excel(path_data + "ColumnInfo - Nominal.xlsx")

In [ ]:
"BRAND_name",

In [ ]:
"PERSON_relationship",

In [ ]:
"PERSON_gender",

In [ ]:
"QUESTION_trust",

In [ ]:
"languages",

In [ ]:
"age",

In [ ]:
"sex",

In [ ]:
"ethnicity",

In [ ]:
"country_of_birth",

In [ ]:
"country_of_residence",

In [ ]:
"nationality",

In [ ]:
"first_language",

In [ ]:
"is_student",

In [ ]:
"employment"

In [4]:
qs = pd.read_excel(path_data + "Question_Index.xlsx")

In [6]:
qs[["renamed", "question_type"]]

,renamed,question_type
0,WORD_association,Open-Ended Response
1,WORD_person,Response
2,WORD_person_other,Other (please specify)
3,BRAND_association,Open-Ended Response
4,BRAND_name,Open-Ended Response
5,PERSON_association,Open-Ended Response
6,PERSON_relationship,Response
7,PERSON_relationship_other,Other or Prefer to self-describe (free text de...
8,PERSON_gender,Response
9,PERSON_gender_other,Prefer to self-describe (free text description)
10,SELF_association,Open-Ended Response
11,QUESTION_trust,Response
12,languages,NaN
13,age,NaN
14,sex,NaN
15,ethnicity,NaN
16,country_of_birth,NaN
17,country_of_residence,NaN
18,nationality,NaN
19,first_language,NaN
20,is_student,NaN
21,employment,NaN